<center>
<img src="img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../mlcourse_open/data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [4]:
# Ваш код здесь
print (len(df[df.gender==1]))
print (df.height[df.gender==1].mean())
print (len(df[df.gender==2]))
print (df.height[df.gender==2].mean())

45530
161.355611685
24470
169.947895382

In [5]:
#45530 женщин и 24470 мужчин

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [6]:
# Ваш код здесь

men_df = df[df.gender==2]
women_df = df[df.gender==1]

print(len(men_df[men_df.alco == 1]) / len(men_df))
print(len(women_df[women_df.alco == 1]) / len(women_df))

#мужчины

0.10637515324887617
0.02549967054689216

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [7]:
# Ваш код здесь

mens = len(men_df[men_df.smoke == 1]) / len(men_df) * 100
womens = len(women_df[women_df.smoke == 1]) / len(women_df) * 100

mens / womens

12.257833097333833

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [8]:
# Ваш код здесь

df['age_years'] = df.age / 365

smokers = df[df.smoke == 0]
nosmokers = df[df.smoke == 1]

sm = smokers.age.median()
nosm = nosmokers.age.median()
(sm - nosm) / 30

19.9

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [9]:
df['age_years'] = df['age_years'].apply(round)
df_60_64 = df
df_60_64 = df_60_64[df_60_64.age_years >= 60]
df_60_64 = df_60_64[df_60_64.age_years <= 64]

gr_df = df_60_64
gr_df = gr_df[gr_df.ap_hi > 160]
gr_df = gr_df[gr_df.ap_hi < 180]
gr_df = gr_df[gr_df.cholesterol == 3]
gr_d = len(gr_df[gr_df.cardio == 1]) / len(gr_df)

lt_df = df_60_64
lt_df = lt_df[lt_df.ap_hi < 120]
lt_df = lt_df[lt_df.cholesterol == 1]
lt_d = len(lt_df[lt_df.cardio == 1]) / len(lt_df)

gr_d / lt_d

2.2831498876274994

In [14]:
df.age_years

id
0        50
1        55
2        52
3        48
4        48
8        60
9        61
12       62
13       48
14       54
15       62
16       52
18       41
21       54
23       40
24       46
25       58
27       46
28       48
29       60
30       54
31       59
32       63
33       64
35       46
36       40
37       54
38       50
39       40
40       58
         ..
99958    62
99959    55
99960    47
99961    61
99962    50
99963    58
99964    59
99965    46
99967    52
99969    61
99971    49
99972    48
99973    52
99974    54
99975    49
99977    50
99978    50
99979    52
99981    60
99985    58
99986    41
99988    56
99990    51
99991    54
99992    58
99993    53
99995    62
99996    52
99998    61
99999    56
Name: age_years, Length: 70000, dtype: int64

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='black'>Утверждения:</font>**<br>
-<font color='red'>Медианный BMI по выборке лежит в пределах нормы</font><br>
-<font color='green'>У женщин в среднем BMI выше, чем у мужчин</font><br>
-<font color='red'>У здоровых в среднем BMI выше, чем у больных</font><br>
-<font color='green'>В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин</font> <br>

In [10]:
# Ваш код здесь

def get_bmi(row):
    return row.weight / ((row.height / 100) ** 2)

df['bmi'] = df.apply(get_bmi, axis=1)

In [11]:
print ("Median BMI: %.02f" % df.bmi.median())

men_df = df[df.gender==2]
women_df = df[df.gender==1]

print ("Second: ", women_df.bmi.median() > men_df.bmi.median())

health_df = df[df.cardio==0]
pained_df = df[df.cardio==1]
print ("Third: ", health_df.bmi.median() > pained_df.bmi.median())

health_noalco_men = men_df
health_noalco_men = health_noalco_men[health_noalco_men.cardio == 0]
health_noalco_men = health_noalco_men[health_noalco_men.alco == 0]

health_noalco_women = women_df
health_noalco_women = health_noalco_women[health_noalco_women.cardio == 0]
health_noalco_women = health_noalco_women[health_noalco_women.alco == 0]

print(health_noalco_men.bmi.mean())
print(health_noalco_women.bmi.mean())

Median BMI: 26.37
Second:  True
Third:  False
25.8726380755
26.8454065941

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [12]:
# Ваш код здесь
cleaned = df

kvantil = 0.025
print ("Start: ", len(cleaned))
cleaned = cleaned[cleaned.ap_hi > cleaned.ap_lo]
print ("ap: ", len(cleaned))
cleaned = cleaned[cleaned.weight >= cleaned.weight.quantile(kvantil)]
cleaned = cleaned[cleaned.weight <= cleaned.weight.quantile(1 - kvantil)]
print ("we: ", len(cleaned))

cleaned = cleaned[cleaned.height >= cleaned.height.quantile(kvantil)]
cleaned = cleaned[cleaned.height <= cleaned.height.quantile(1 - kvantil)]
print ("he: ", len(cleaned))

print ("Percentage ", (len(df) - len(cleaned)) / len(df) * 100)

Start:  70000
ap:  68764
we:  65739
he:  63258
Percentage  9.631428571428572

In [13]:
# pd.Series.quantile

cleaned.height.quantile(0.025)

152.0